.ui.one.column.middle.aligned.relaxed.grid.basic.segment
  .row
    .column.center.aligned
      %a.ui.primary.button{ href: "/auth/google_oauth2" }
        %i.google.plus.icon
        Sign-up with Google