body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}


.margin_top_20 {
  margin-top: 20px !important;
}

.margin_top_60 {
  margin-top: 60px !important;
}